{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\register.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title">Book Ticket</div>
            <form action="printreceipt" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Date of Visit</span>
                        <input class="input-box" type="date" id="visitdate">
                    </div>
                    <div class="input-box">
                        <span class="details">Event</span>
                        <input class="input-box" list="eventlist" id="event">
                        <datalist id="eventlist">
                            <option value="NONE">
                            <option value="Are We Already Living in a Cyberpunk?">
                            <option value="Space and Time">
                            <option value="Rawrrrr! - Jurrasic Era">
                        </datalist>
                    </div>
                    <div class="input-box">
                        <span class="details">Number of people</span>
                        <input class="input-box" type="text" id="noofpeople">
                    </div>
                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
            </form>
        </div>
    </div>
</body>
</html>

