{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Simply</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
 
<body>
    <header>
        <div class="wrapper">
            <h1>Museum<span class="color">.</span></h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    {%if  user.is_authenticated %}
                    <li><a href="bookticket">Book Ticket</a></li>
                    <li><a href="event">Events</li>
                    <li><a href="accounts/logout">Logout</a></li>
                    <li><a href="#">Profile</a></li>
                    {% else %}
                    <li><a href="accounts/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="hero-image">
        <div class="wrapper">
            <h2 id="main"><Strong>Welcome to</Strong><br>
            the Museum!</h2> 
            <a href="accounts/login" class="button-1">Get Started</a>
        </div>
    </div>
    
    <div id="features">
        <div class="wrapper">
            <ul>
                <li class="feature-1">
                    <h4>Seamless bookings</h4>
                    <p>We are here to help you.</p>
                    <img src="{% static 'images/callcentre.jpg' %}" width="300" height="300"></img>
                </li>
                <li class="feature-2">
                    <h4>Discover History</h4>
                    <img src="{% static 'images/history.jpg' %}" width="500" height="300"></img>
                </li>
                <li class="feature-3">
                    <h4>Exclusive Events</h4>
                    <img src="{% static 'images/exclusiveevent.jpg' %}" width="500" height="300"></img>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    
    <div id="primary-content">
        <div class="wrapper">
            <article>
                <h4>Featured content</h4>
                <h3>24/7 Customer Care</h3>
                <h3>Resend Booking Confirmation</h3>
                <h3>Subscribe to the Newsletter</h3>
                <a href="#" src="{% static 'images/museum.jpg' %}"></a>
            </article>
        </div>
    </div>
    
    <div id="secondary-content">
        <div class="wrapper">
            <article></article>
            <article></article>
        </div>
    </div>
    
    <div id="cta">
        <div class="wrapper">
        </div>
    </div>
    
    <footer>
        <div class="wrapper">
            <div id="footer-info"></div>
            <div id="footer-links">
                <ul></ul>
                <ul></ul>
                <ul></ul>
            </div>
        </div>
    </footer>
    
</body>
</html>